.like-button {
  color: white;
  transition: 0.3s;
  font-size: 30px;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.like-button:hover {
  color: red;
}

.is-liked {
  transition: 0.3s;
  color: red !important;
}

.is-liked:hover {
  color: white !important;
}
