#title {
  color: white;
  font-family: "Bebas Neue";
  text-decoration: none;
  padding-top: 10vh;
  font-size: 4rem;
  font-weight: bold;
}

#title:hover {
  color: gray;
  opacity: 0.9;
}

.title-section {
  text-align: center;
}

#form-toggle-link {
  text-decoration: none;
  color: white;
}

#form-toggle-link:hover {
  color: grey;
}

#bg {
  color: white;
  background-image: url("../images/pexels-victor-freitas-791763.jpg");
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#submission-form {
  margin: 3vh auto 0 auto;
}

.valid-message {
  position: absolute;
  font-size: 0.7rem;
}

.error-message {
  position: absolute;
  font-size: 0.7rem;
}
