#navbar {
  padding-top: 3vh;
  font-size: 1.3rem;
}
.navbar-brand {
  font-family: "Bebas Neue";
  font-size: 2.3rem;
}

.nav-button {
  background: none;
  border: none;
}

.nav-greeting {
  padding: 0.5rem 1rem;
}
